{% extends "users/base.html" %}
{% block title %} Донат (Прочее)  {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">
    <div class="jumbotron container paper-section">
        <h1 class="display-5">        Донат (Прочее)         </h1>
             

        
        <p class="lead">
            (Приписька)

        </p>
     


<h4>
1. Дополнительный Слот Персонажа = 5000 рублей
</h4>
<h4>
2. Дополнительое Очко Создания Персонажа = 600 рублей
</h4>









        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


