{% extends "users/base.html" %}
{% block title %} Тарифы {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">
    <div class="jumbotron container paper-section">
        <h1 class="display-5">        Тарифы         </h1>
             

        
        <p class="lead">
            (Приписька)

        </p>
     


<h4>
1. Сколько персонажей я могу сделать
</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Изначально у вас, как игрока есть 2 очка создания персонажа и 2 слота под персонажа. Слоты определяют сколькими персонажами вы можете играть одновременно (как в одно партии, так и в разных). Очко создания персонажа вы тратите при "создании персонажа". Его можно только купить. Исключение - продолжить играть за наследника вашего персонажа (см. правила наследования)
<div class="smallfont-size">
&nbsp;*Количество слотов можно также увеличить см. <a href="{% url 'arod_main_mix_donat_1' %}" role="button">"Донат (Прочее)"</a>.
</div>


</p>

<h4>
2. Как работают дни записи и платные слоты.
</h4>
&nbsp;&nbsp;&nbsp; Существует 4 типа дней.
<br> <b>Первый </b>- "Выходной". В выходной <b>я отдыхаю, мне не интересно</b>.
<br><b>Второй </b>- "Дорогой платный слот", актуальная цена по нему <b>1200 рублей</b>, кроме того - вы должны заранее записаться. 
<br><b>Третий</b> - "Платный слот", актуальная цена по нему <b>600 </b>рублей (можно записаться одним днем).
<br><b>Четвертый </b>- "Бесплатный слот" - он бесплатный.
<br><br> Общая цена за игру составляется из <b>Слота+Тарифа</b> (т.е. если по тарифу вы должны 400 рублей, а по слоту 600 = вы платите 1000руб. Если слот бесплатный, а тариф 750 = вы платите 750 рублей)

<br><br>

<h4>
3. Сами Тарифы
</h4>
<p>


Если вы играете один:<br>
— Стандартная партия (<b>2</b> часа) — <b>400</b> рублей<br>
— Расширенная (<b>4</b> часа) — <b>900</b> рублей<br>
— Длинная (<b>6</b> часов) — <b>1500</b> рублей<br>
— Каждый дополнительный час к длинной — <b>300</b> рублей<br><br>

Если вы играете в группе <b>2–5</b> человека:<br>
— Стандартная партия (<b>2</b> часа) — бесплатно<br>
— Расширенная (<b>4</b> часа) — <b>750</b> рублей<br>
— Длинная (<b>6</b> часов) — <b>1500</b> рублей<br>
— Каждый дополнительный час к длинной — <b>300</b> рублей<br><br>

Если вы играете в группе от <b>6</b> человек:<br>
— Стандартная партия (<b>2</b> часа) — бесплатно<br>
— Расширенная (<b>4</b> часа) — <b>900</b> рублей<br>
— Длинная (<b>6</b> часов) — <b>1800</b> рублей<br>
— Каждый дополнительный час к длинной — <b>300</b> рублей


<div class="smallfont-size">
&nbsp; Обращаю внимание, что актуальные цены будут именно тут (если есть сомнения - пните меня перед партией, чтобы все уточнить)
</div>
</p>


<h4>
4. Ограничения по бесплатным слотам
</h4>
— В день может быть <b> не более двух игр </b> по "Бесплатному Слоту" (Все прочие считаются как "Платный Слот") <br>
— Если в "этот" день прошло уже <b>6 часов</b> ролок, все следующие 2-ух часовые также считаются как "Платный Слот"


<br><br>

<h4>
5. "Финтех услуги"
</h4>
Беспроцентная рассрочка на донат действует не более чем на полгода (с момента заключения сделки)

<div class="smallfont-size">
&nbsp;*(по всем старым сделкам, до объявления этого правила будет считаться дата начала с конца 2025, начала 2026 (вот прям на новый год и начнем) )
</div>

— Если вы должны <b>более 300к</b> и <b>не платите</b> каждый месяц, то тариф 2% в месяц (от всей суммы долга)
<br>— Если вы должны <b>более 300к</b> и <b>платите</b> каждый месяц, то тариф 1.5% в месяц (от всей суммы долга)
<br>— Если вы должны <b>менее 300к</b> и <b>не платите</b> каждый месяц, то тариф 1% в месяц (от всей суммы долга)
<br>— Если вы должны <b>менее 300к</b> и <b>платите</b> каждый месяц, то тариф 0.5% в месяц (от всей суммы долга)
<div class="smallfont-size">
&nbsp;*Проценты по таким долгам считаются с момента окончания 6 месячной беспроцентной рассрочки (эти 6 месяцев в зачет процентов не идет)
</div>
<br><br>



        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


