{% extends "users/base.html" %}
{% block title %} FAQ {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Прочие Услуги         </h1>
             

        
        <p class="lead">
            Приписька. (список не исчерпывающий и будет постепенно пополняться)

        </p>
     


<h4>
1. Услуги не дипломированного социолога (Ментальное лечение игрока) = 600руб/час 
</h4>
<div class="smallfont-size">
&nbsp;*(Не является медицинской процедурой, лицензий и всего такого нет).
</div>

<h4>
2. Сайт под ключ = цена договорная 
</h4>
<div class="smallfont-size">
&nbsp;*(в районе 5-15к, если сопоставимой сложности) 
</div>
<h4>
3. Услуги Лорописца и т.п. (Договорная)
</h4>
<div class="smallfont-size">
&nbsp;*(в районе 3-7к, зависит от объемов работы и тз) 
</div>
<h4>
4. Генерация ИИ изображений по промту = цена договорная
</h4>
<div class="smallfont-size">
&nbsp;*(чет копеечное от 300 до 500 руб на не большой пак изображений. Но по времени могут быть задержки) 
</div>


<p>
&nbsp;&nbsp;&nbsp;&nbsp;  
</p>


        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}






