{% extends "users/base.html" %}
{% block title %} Донат Предметы {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->







<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Донат Предметы          </h1>
             

        
        <p class="lead">
            Все цены указаны в рублях. Ссылки и картинки в разработке. (Приписька)

        </p>
        

Виды волшебных сил и примерная их оценка:
Блинки и телепорты - от 3к
Усиление оружий - от 1к
Усиление тела - от 2к
Касты "заклинаний" - от 2к
Генерация ресурсов из ничего - от 8к



        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


