{% extends "users/base.html" %}
{% block title %} Донат Предметы {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->







<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Донат Предметы          </h1>
             
<div class="no-break">
        
        <p class="lead">
            Все цены указаны в рублях. Ссылки и картинки в разработке. (Приписька)

        </p>
        

<hr class="my-4">
<!-- ---------------------------------------------- -->

<h2 class="display-5"> <b>      Под пространства ("Карманы")      </b> </h2>



<p>
(Карман, в рамках Ародов - очень дорогая штука. С точки зрения доната некоторые из них могут быть относительно дешевыми, на правах гмского произвола, однако внутри игры они остаются очень дорогими и хрупкими - со всеми вытекающими особенностями)
</p>

<li><h3 class="display-5">&nbsp;      Складские Услуги      </h3></li>


  <h4>Божественное Хранилище (у бога за пазухой) ~ 6000</h3>
<p>
Формально такое подпространство вам не принадлежит, и свободно вы им не распоряжаетесь — оно принадлежит другому существу, а именно одному из богов. Это означает, что в процессе игры вам придётся что‑то отдавать этому богу (за его тяжкий труд владения и хранения ваших вещей). Выглядит это прозаично: у вас предмет исчезает (по запросу) и также, по запросу, появляется. Однако для этого надо иметь техническую возможность контакта с богом и не потерять его «ключ» (если вы не поклоняетесь этому богу).
</p>

<p>
<b>Внимание:</b> если разругаться с богом, он может перестать вам отвечать и зажопить вещи.
</p>

<p>
В среднем логика цен такая: чем больше вы делаете (положил/достал) раз, тем дороже. Средняя цена — около <b>0,5 маны + душа человека</b> за положить + достать предмет размером с 4 книги (коробочка). Однако с богом можно договориться на поставки каких‑то отдельных товаров или особые услуги (в зависимости от бога — см. перечень богов снизу##########(under contract)###########).
</p>


<!-- ---------------------------------------------- -->


  <h4>  Арендуемый Склад (тоже у бога) ~ 20.000</h4>
<p>
    Арендуемый склад от бога - это некоторое пространство в котором можно размешать, раскладывать вещи или даже полноценно жить (зависит от конкретного предложения). Формально это не совсем отдельное пространство, а часть другого, большего пространства самого бога (куда вас очевидно не пустят). Вещи внутри тронуть не может практически никто (кроме самого бога, парочки исключений и тараканов которых вы сами занесли). Основной минус такой же, как и с Божественным Хранилищем. За пользование такой штукой приходиться плотить "аренду" т.к. ваша эксплуатация такого места - дорого обходиться богу.
</p>

  <h5>Основные варианты платы за пользование (далее это 1х):</h5>
  <ul>
<li>1 любой артефакт — на 5 месяцев;</li>
<li>Честно проданная жопа (с вас могут попросить услугу) — не ограничен;</li>
<li>1 кг золота (66–67 квадриков) — месяц;</li>
<li>Мана + души — эквивалент 100 человек (130–160 зверолюдей) — месяц;</li>
<li>Мана — эквивалент 200 человек (260–390 зверолюдей) — месяц.</li>
  </ul>

  <h5>Кто сдаёт в аренду:</h5>
  <ul>
<li>
<strong>Свет (20.000)</strong> — чётко, ясно, понятно; только техподдержка не отвечает, а пиздят очень больно (<b>1х цены</b>). Дополнительных условий нет.
</li>
<li>
<strong>Ма'Ахид (18.000)</strong> — криво, косо, зато техподдержка на месте (<b>1х цены</b>). Небольшие сложности с получением "ключа"
</li>
<li>
<strong>Оруэла (under contract) (20.000)</strong> — если брать в ипотеку с длительным контрактом, скидка 15 % (Аренда <b>1x цена</b>, а вот сам донат стоит дешевле 15%, но при этом работать начинает не сразу.).
</li>
<li>
<strong>Лесел (20.000)</strong> — неплательщиков крайне не любит, а за пронос мифрила сама вставит звиздюлей. Зато всё остальное — хорошо работает. (Аренда стоит <b>1,2×</b>) - можно брать больше одного помещения (за каждое следующее скидка в стоимости 45%) - помещения: каменная коробка с вентиляцией и приглушенным светом (если очень стараться можно по общаться и чем-то по торговать с Лесел)
</li>
<li>
<strong>Ледяная волчица (25.000)</strong> — строго, просто, понятно, но цены сильно нестандартные: золото не берёт, предпочитая либо <b>2×</b> маны, либо души зверолюдей <b>2×</b> - каменная комната, есть вентиляция, вода и "холодное освещение", температура отрицательная + "опасный" сан узел.
</li>

<li>
<strong>Мур Темнейшая (12.000)</strong> — Гарантий толком никаких, пространство бывает дырявым (с проходом к другим), самого пространства много (расширяется по скидке 50%). Помещения Мур - это что-то вроде глубоких подземных пещер, без каких либо ограничений по деятельности (кроме прямого ломания самой конструкции + мур старается мешать грабить друг дружку своим гостям). Внутри водятся различные монстры. (<b>1х цены</b>) + Если взять второй вариант за <b> (18.000)</b>, то Мур сделает помещение полностью закрытым. С Мур можно по общаться и даже по торговать (без доплат), также как и оказаться в крайне не завидной позе, при не удачной дипломатии.
</li>
<li>
<strong>Вальсирия Морская Жемчужина (800р/мес)</strong> — Вальсирия предоставляет довольно не стандартную услугу - она пускает не в отдельное под пространство, а в свой, полноценный город в портовом стиле. Где можно свободно приобретать домики, вести торговлю и заниматься ремеслами, даруя Вальсирии  (<b>1х цены</b>), как и с остальными услугами аренды. Побочная особенность этого предложения - самого домика или склада вам бесплатно не дают. Кроме того, степень законности и контроля за порядком в этом городе - довольно плохие. Грабеж не пройдет, а вот воровство вещь частая. Особенно из карманов. Темная магия под строгим запретом
</li>
<li>
<strong>Даарник Хельм (15.000)</strong> — Даарник в данный момент находится в чем-то средним между запоем и депрессией, клиентов недобор, по этому цена занижена (<b>1х цены</b>), (в обычных условиях это <b>22.000 + 2-2.5х</b>). Дарник предоставляет не полностью независимое пространство, а скорее каменный домик в красивом городе, сделанный под ремесла и торговлю. Сам город правда пустоват, да и бытовых условий не хватает. Дождей нет. Ветра почти нет. Аналог солнца светит, но растения не растут. Также, у Дарника можно взять "проходку" в это место за (<b>900р/мес</b>)
</li>

<li>
<strong>Люмия Нинис (25.000)</strong> — всё приятно, удобно и с мягкой подсветкой, а также необычными особенностями. (<b>см. отдельную приписку</b>)
</li>
<li>
<strong>Мо'Анелль (28.000)</strong> — всё качественно, лакшери, с техподдержкой и целой кучей дополнительных возможностей (<b>см. отдельную приписку</b>).
</li>
  </ul>




    <h5>Люмия Нинис (варианты условий аренды «движимости»)</h5>
    <h6>1. Сокрытый Домик (1.5×)</h6>
<p>не большой деревянный домик (без окон и выходов) с мебелью и уютной атмосферой. Свет обеспечивают светлячки (если их убрать, то освещение - ваша проблема), есть все базовые условия для жизни.</p>

    <h6>2. Лесной Домик (3х) </h6>
<p> Приятное строение, с не большим земельным участком вокруг, полным растительности и маленьких летающих огоньков (дарующих здесь желто-зеленый свет). Хорошо подходит для спокойной жизни или не вредящей экологии мастерской. Сам домик уютный и с мебелью (за порчу штрафы)</p>

    <h6>Важные особенности</h6>
<p> Люмия очень строго запрещает вредить "Огонькам", а также не приемлит разбоя и насилия в своем пространстве. Мебель и природу в этих домиках разрушать нельзя, также, как и возводить сильно загрязняющие среду механизмы. Кроме того, Люмия бывает довольно обидчивой и не самая контактная богиня </p>





    <h5>Мо'Анелль (варианты условий аренды «движимости»)</h5>
    <h6>1. Склад (2.5×)</h6>
<p>Простая комната с каменными стенами, потолком и полом (уложена каменным кирпичом без щелей). Стены ломать нельзя. Есть свет. Находиться внутри можно сколько угодно, но быстро станет душно (хотя задохнуться будет тяжело).</p>

    <h6>2. Жилая (5×)</h6>
<p>Просторное помещение из трёх комнат, всё оковано каменным кирпичом. Есть вентиляция (можно перекрыть), «поилка» и местный аналог сан‑узла (в простеньком виде). Свет есть, можно приглушать. Стены крайне прочные.</p>

    <h6>3. Формат поместья (10×)</h6>
<p>Особое строение, находящееся в чём‑то, что вы бы описали как облака. Просторное, продуваемое тёплыми ветрами строение из камня и цветного стекла. Погода здесь всегда мягкая, а вдалеке видны подобные строения (летать между ними нельзя). Места в таком поместье крайне много: есть закрытые комнаты и красивые балконы, а также бытовые удобства.</p>
<em>Кальян, чай и дорогой сервиз входят в комплект.</em>

    <h6>Аренда</h6>
<p>Мо'Анелль не любит брать плату золотом, душами или маной (из=за этого цены в них крайне высокие). Куда больше ей нравятся значительные объёмы плохо возобновляемых ресурсов, а также различные редкие изделия.</p>
  
В том числе:
    <ul>
<li>металлы;</li>
<li>светокамни;</li>
<li>канторские ткани;</li>
<li>редкие шкуры;</li>
<li>изделия искусств;</li>
<li>необычные зверьки (в штучном количестве);</li>
<li>книги и их копии (стоят не так дорого, как хотелось бы).</li>
    </ul>
  
    <h6>Важная особенность</h6>
<p>В случае вашей неспособности заплатить Мо'Анелль не рвёт контракты и не ставит вас на «щёчик». Она просто отбирает ключи, пока вы не заплатите, ничего не трогая (за очень редкими исключениями).</p>

    <h6>Дополнительные услуги</h6>
<p>Мо'Анелль предоставляет значительный перечень дополнительных услуг за отдельную плату, в том числе:</p>
    <ul>
<li>возможность поторговаться;</li>
<li>посещение «туристических заведений»: баня, ресторан, парк;</li>
<li>заказ книги из местной библиотеки (с обязательством вернуть и не выносить из дома);</li>
<li>различные мелкие домашние услуги;</li>
<li>весёлое времяпрепровождение с самой Мо'Анелль;</li>
<li>услуги тамады и организация праздников.</li>
    </ul>






<!-- ---------------------------------------------- -->

<li><h3 class="display-5">&nbsp;      Мешочки ("бесконечный мешок")     </h3></li>

  <p>
    Маленький — <b>12.000</b> 
    (пространство размером в <b>3–4 м</b> радиусом и <b>1–2 м</b> глубиной)
  </p>
  <p>
    Средний — <b>27.000</b>
    (пространство радиусом <b>10–12 м</b> и глубиной <b>2–3 м</b>)
  </p>
  <p>
    Большой — <b>40.000</b>
    (пространство размером с большой дом)
  </p>

  <p>
    Бесконечный Мешочек — это артефакт неизвестного происхождения (наиболее вероятно — контрафакт). 
    На него распространяются все прочие правила подпространств, но при этом он ещё и имеет «округлую форму» — 
    что мешает удобно расставлять объекты внутри. А ещё внутри темно и страшно, не предназначены для содержания живых существ.
  </p>
  <p>
    Основная проблема таких мешков — однажды у них кончится мана и они должны взорваться.
    Однако сколько внутри маны и когда это должно случиться, никто не знает.
  </p>


<!-- ---------------------------------------------- -->

<li><h3 class="display-5">&nbsp;      Древние Боги      </h3></li>



 <h5><p>Карман у "Не Честного Друга" (Древний Бог) - <b>60.000</b></p></h5>


  <p>"Не Честный Друг" - древний бог со слабо-прогнозируемым поведением. В отличии от Честного Друга, Не Честный Друг может что-то тырит, обычно мелкое и сравнительно не дорогое (например монетку из мешка, один кинжал из большой партии или камушек из ботинка). Не Честный Друг не отбирает всего и сам по себе ничего не просит, но и не отказывается от даров (это правда не помогает избавиться от его клептомании). Размер пространства не точен, однако сравним с "однушкой". Пространство пригодно для условной жизни.</p>
  <p>Бывает в двух вариантах (на персонажа или ключ)</p>

  <h5><p>Карман у "Честного Друга" (Древний Бог) - <b>100.000</b></p></h5>
  <p>"Честный Друг" - один из немногих, честных древних богов. После взятия этого доната, считается, что вы сделали что-то крайне важное в его планах и за это он позволяет пользоваться некоторым под-пространством под его контролем. "Честный Друг" не был замечен в нарушении сделок или воровстве. Размер пространства не точен, однако сравним с "однушкой". Пространство пригодно для условной жизни.</p>
  <p>Бывает в двух вариантах (на персонажа или ключ)</p>

  <h5><p>Творения Хайда-баскара (Древний Бог) - <b>140.000</b></p></h5>
  <p>Хайда-баскар - могущественный и скрытный древний бог, замешанный в самых сложных проявлениях звездной магии и сил древних богов, источник его силы, точный характер и цели - не известны. Однако некоторые смертные сталкиваются с его дарами. Хайда-баскар дарует точные знания, инструкцию использования своих даров и более не отвечает и не реагирует на любые действия. Дары Хайда-Баскара не возможно отследить, привычными способами. Хайда-баскар никогда не воровал и намеренно не обманывал, хотя иногда вводил в заблуждение. "Карман" Хайда-Баскара большой, даже очень. В нем можно разместить, если и не поселение, то точно богатое поместье. Жизнь в таком пространстве возможна, хотя и немного затрудненна. Однако самое главное - пространство Хайда-Баскара не боиться мифрила и подобных ему изделий. Хотя существуют некоторые виды магии, опасные для этого дара.</p>
  <p>Реализация этого дара простая - обладатель способен открыть "портал", радиусом около 1м из руки/от руки и даже поставить рядом с собой его, если расположить на объекте (например на земле) - может быть применено как оружие обезвреживания.</p>
  <p>*<b>Внимание</b> Дар Хайда-баскара идет на персонажа и может передаваться "Только наследникам" (т.е. по вредной очереди наследования детям), это значит что вы не сможете им махнутся с другим игроком или даже другим вашим персонажем.</p>



<hr class="my-4">

<!-- ---------------------------------------------- -->


</div>
        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


