{% extends "users/base.html" %}
{% block title %} FAQ {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">
    <div class="jumbotron container paper-section">
        <h1 class="display-5">        FAQ         </h1>
             

        
        <p class="lead">
            Приписька. (список не исчерпывающий и будет постепенно пополняться)

        </p>
     


<h4>
1. Что это за место и как я сюда попал?
</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp; Это сайт по ролевым играм, сделанный лапками stasz, базирующийся на дискорд-сервере "Игровой Бар" и Королевствах Арода. А там дальше, куда дорога заведет. Тут в основном висит информация по ролке(ам), а также донат.
</p>

<h4>
2. Как что-то купить и где записаться ?
</h4>
&nbsp;&nbsp;&nbsp; Писать гму ролевой в которой вы участвуете. Автоматика этого делать не будет, программист (я) отказывается работать над этой хуетой.







        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}






