{% extends "users/base.html" %}
{% block title %} Донат Предметы {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->







<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Донат Предметы          </h1>
             

        
        <p class="lead">
            Все цены указаны в рублях. Ссылки и картинки в разработке. (Приписька)

        </p>
        

Ингредиент для заклинания - 100-1000 (на одно заклинание)

Различные артефакты(будут добавляться):
Мифриловое оружие - 500-1500 (от кол-ва металла и конструкции)
Мифриловые доспехи - 500-1000 (от части доспеха)
Полный мифриловый доспех латного типа - 8000
Кольцо анти-яд - 4500 рублей
Свой артефакт - от 1.5к (если работает в сеттинге)
Технологический разумный костюм (специальный) - 20к
Технологический разумный костюм (полицейский) - 50к
Технологический разумный костюм (военный) - 100к
Технологический костюм с помощником - от 200к
Открытие новой функции технокостюма - 3-15к 

Покупка вещей:
Мешок зерна(1 кг) - 500
Мешок с картошкой(1 кг) - 2000
    
Расходники:
Слезы луны - пока что 650 руб штука (мб потом подкоректим)

1 зл = 8руб
( 
от 1000 зл скидка 10% 
от 5000 зл скидка 25%, 
от 10 000 зл скидка 30%, 
от 100 000 зл скидка  60%
)

Кристалл Гадегара (второй и третий по порядку) - 2500 руб

----------------------------------------------------
Половые Истории:
1см = 100 рублей до 30см (от 31 до 60см = 200 рублей, от 61 до 90см = 300 руб, от 91 до 120см = 400 руб) - работает как на увеличение, так и на уменьшение

Смена Пола (Зельем) = 2000 руб
----------------------------------------------------
Зелья: (На паузе - пинать грима)

Зелье лечение = 500 руб
"Эльфийский Экстракт" = Первые 5 по 2000, следующие по 3000 руб 





        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


