{% extends "users/base.html" %}
{% block title %} Донат Расы и Старты {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->







<div class="limiter">
    <div class="jumbotron">

           
      
        <p class="lead">
            Все цены указаны в рублях. Ссылки и картинки в разработке. (Приписька)

        </p>
        


    <h1>Доступные для покупки расы и "cтарты"</h1>
    
    <ul>
<p>При создании персонажа, вы используете либо бесплатную расу, либо оплаченную вами (см. таблица ниже). Расу можно купить навсегда (см основная цена) или для одного персонажа по цене 1/3. Часть рас, а также почти все "старты" только одноразовые (т.е. для повторного создания придется еще раз покупать - рядом с такими будет стоять такой значок (*&*))</p>
<p>(пояснение старым игрокам - купленные вами расы, именно постоянные расы, а для новых покупок происходят такие корректировки)</p>
<p>Расы и большинство стартов могут быть куплены в пользу ваших Компаньоны (см ###Компаньоны###) или, в случае повторного выпадания из лут-боксов - быть в дубликате (такой дубликат можно пустить на компаньона или махнуться с другим игроком).</p>

<h2>*Драконы и их потомки </h2>
    <li><b>Цветной Дракон</b> — <b>10.000</b> (маленький, физически здоровый), <b>20.000</b> (большой и с некоторым опытом), <b>30.000</b> (старый дракон с большим опытом и размером), <b>50.000</b> дракон-потомок одного из легендарных драконов</li>
    <li><b>Металлический Дракон</b> — <b>15.000</b> (маленький, физически здоровый, мягкий материал), <b>25.000</b> (большой и с некоторым опытом, средний материал), <b>40.000</b> (старый дракон с большим опытом и размером, прочный материал), <b>80.000</b> Любитель поесть очень дорогих и прочных металлов (мифрил и близкие к нему) </li>
<div class="smallfont-size">
(Драконы со временем растут, а металлические могут наедаться все более прочными материалами. А вот хорошую родословную уже так не приобретешь)
</div>  
    <li>(*&*) <b>Новорожденный Белый дракон</b> (это старт) - <b>120.000</b> (дорого сложно и тяжело, зато у вас хорошая мама и великое будущее. Если выживите) </li>      
<div class="smallfont-size">За белого дракона стандартной возможности играть нет, есть только особенный вариант</div>
    <li><b>Драконид</b> — <b>6000</b> (цвет по желанию, вы один из родственников цветных драконов)</li>
    Драконид (без крыльев) — <b>4000</b> (цвет по желанию, вы один из родственников цветных драконов)
    <li><b>Потомок "Цветных Драконов"</b> — <b>8000–20.000</b> (от количества генетических болезней и степени развитости органов) (имеют в полной комплектации: Грим, Некит, Альберт, Ами, Морф, Ариокс )</li>
    <li><b>Потомок "Белого Дракона"</b> — <b>15.000–40.000</b> (от количества генетических болезней и степени развитости органов + МАГИЯ (входит в цену) ) (Игроки, которые до разделения покупали расу потомков драконов, а это: Грим, Некит, Альберт, Ами, Морф, Ариокс - ценник другой и простого белого потомка дракона с ограничениями они могут сделать и без этого доната. Крч там отдельно разберемся)</li>
<h2>*Ангелы </h2>

    <li>Ангелы Святого Света — <b>от 10.000 до 20.000</b> (зависит от бек-граунда - за 10к новорожденный, за 20к - с опытов в коллективе)</li>
    <li>Архангелы Святого Света — <b>от 25.000 до 40.000</b> (зависит от бек-граунда  за 25к новорожденный, за 40к - с опытов в коллективе) (есть у димы, считается как за 25к)  </li>

(!!! сюда еще пойдут)




<h2>*Человеческие Народы </h2>
    <li>Ародцы  — <b>Бесплатные</b></li>
    <li>Авариты  — <b>1000</b></li>
    <li>Амиранитки   — (идут в комплекте с аваритами)</li>
    <li>Младшие люди ("Низшие Люди")   — <b>Бесплатные</b></li>
    <li>Нилирийцы    — <b>2000</b></li>
    ----------------------------------------------------
   <li>Бундесвадцы  — Появяться позже <b></b></li>
   <li>Берендорцы   — Появяться позже <b></b></li>
   <li>Талрасийцы   — Появяться позже <b></b></li>
   <li>Ривергардцы    — Появяться позже <b></b></li>
   <li>Домрадцы     — Появяться позже <b></b></li>
   <li>Сервийцы (человеки)  — Появяться позже <b></b></li>
    ----------------------------------------------------
   <li>Калреты    — <b>400</b></li>
   <li>Странники     — Договорные (скачок от бесплатно до <b>120.000</b>) </li>
   <li>Род Алгалон      — Появяться позже <b></b></li>
   <li>Род Ивтар      — Появяться позже <b></b></li>
   <li>Тивриты       — Появяться позже <b></b></li>
    ----------------------------------------------------
   <li>Ач"цык"уйк        — <b>900 </b></li>


<h2>*Малые народы (редкие)  </h2>
       <li>Русалки (пресноводные или морские) — <b>2000</b> (p.s. - ваш геймлпей - отдельное изврашение)</li>
       <li>Кентавр (маленький) — <b>2200</b></li>
       <li>Кентавр (Большой) — <b>3400</b> (если куплен маленький кентавр - только разницу)</li>


<h2>*Порождения Рощи  </h2>
       <li>(*&*)Гоблины — <b>270</b> (по количеству детей Ландау *10)</li>
       <li>Хоббгоблины — <b>900</b></li>
       <li>Орк — <b>1600</b></li>
       <li>Гоблин-шаман — <b>1000</b></li>
       <li>Разумный гоблин — <b>800</b></li>
       <li>Дендроид (маленький) — <b>4000</b></li> 
       <li>Дендроид (большой) — <b>6000</b> (если куплен маленький Дендроид - только разницу)</li>             
       <li>Энт — <b>30.000</b></li>
       <li>Злой Энт — <b>40.000</b></li>
       <li>Дриада (которая Конь) — <b>2400</b></li>
       <li>Дриада (которая деревяшка) — <b>1800</b></li>
       <li>"Агрессивный пенек" (реально пенек) — <b>900</b></li>
       <li>"Сладкая травинка" (дриада медовая) — <b>4000</b></li>


<h2>*Эльфы (и их родственники)</h2>
<li>Эльфы — <b></b> (от возраста)</li>


Фея, волшебный эльф, темный эльф, ночной эльф, серый эльф, высший эльф, средний эльф, лесной эльф, олень, драамнит, дикие (одичалые)


<h2>*Монстры (по классификации)</h2>
    <li>Алиарветы — Появяться позже<b></b></li>
    <li>Порождения наг — Появяться позже <b></b></li>
    <li>Гипно-гриб (оно реально водиться) — Появяться позже <b></b></li>
    <li>Дарв  — Появяться позже <b></b></li>


<h2>*Чудовища (по классификации)</h2>

    <li>Ламии  — Появяться позже<b></b></li>
    <li>(*&*)Нага (!нюансы!)  — Появяться позже <b></b></li>
    <li>Медуза Горгона  — Появяться позже<b></b></li>
    <li>Мантикора  — Появяться позже<b></b></li>
    <li>Горгона (по темнее)  — Появяться позже<b></b></li>
    <li>Орел — Появяться позже<b></b></li>
    <li>Виверна   — Появяться позже<b></b></li>
    <li>Гидра   — Появяться позжеПоявяться позже<b></b></li>
    <li>Змея (в треха вариациях)   — Появяться позже <b></b></li>


    <li>(*&*)Азея-обычная (пока-незя)  — Тут сложно <b></b></li>
    <li>(*&*)Азея-предметная (пока-незя)  — Тут сложно <b></b></li>


<h2>*Дикие Народы (по классификации)</h2>
    <li>###Гибберлинги###  — Тут сложно <b></b></li>
    <br>
    <li>Кобольд (костяной)  —  <b>400</b></li>
    <li>Кобольд (низкий)  —  <b>200</b></li>
    <li>Кобольд (высокий)  —  <b>800</b></li>
    <br>
    (сюда доп. старты)
        (тут должны быть разные тролли, огры, великаны, но это позже)

    <li>Болотники  — Появяться позже <b></b></li>


<h2>*Зверолюди</h2>

    <li>Семиранидка  — <b>1200</b></li>


<h2>*Дворфы и Гном</h2>
    <li>Нимак (дворф)  — <b></b></li>
    <li>===Пока нет===Гухар-Ват (дворф)  — <b></b></li>
    <li>Гномы  — <b></b></li>
    <li>Глубинные Нимак  — <b></b></li>


<h2>*Ящеры</h2>
    <li>Лаэтзир   — <b>1400</b></li>
    <li>Виртеазиры    — <b>750</b></li>
    <li>Мизиры    — <b>200</b></li>
    <li>Нитзиры     — <b>450</b></li>  
    <li>Азатизы (Лягушка)      — <b>900</b></li>  
    <li>Дикие Азатизы (Лягушка)     — <b>1200</b></li>  
    <li>Дектзиры       — <b>800</b></li> 
    <li>Гаантир        — <b>1000</b></li> 

<h2>*Гноллы</h2>
    <li>Спиноломы  — <b>400</b></li> 
    <li>Хвириты    — <b>20</b></li> 
    <li>Воротилы   — <b>120</b></li> 
 

<h2>*Восток</h2>
    <li>(*&*)Пчела (Горная)  — <b>2400</b></li>
    <li>(*&*)Оса (Горная)  — <b>3200</b></li>
    <li>Фея (Горная)  — <b>5400</b></li>
    <li>(*&*)Богомол (Горный)  — <b>7200</b></li>
    <li><b>(*&*)Шмель</b> (Уже не лоховской)  — <b>2100</b> руб (с каждым купленным шмелем цена увеличивается на 100руб, а шмель становится все менее лоховским), <br>Шмели есть: (1,2,3,4,5 - у Димы, 6,7,8,9,10 - у Ариокса, 11,12,13,14,15,17,18,(20 умеет хилить по световски) - у Полины, 16 - Жан, Альберт - 19)</li>
 <div class="smallfont-size">
Купленных шмелей можно доставать и прятать обратно в ролке без карточки компаньона (шмели прокачались и приобрели такую абилку)
<br> На 20ур - шмели начинают обучаться сложным навыкам (например ковать или шить), на 40-вом могут кастовать жреческие заклинания (эффективно, в принципе чуть чуть они смогут и с 20-ого), на 60-ом шмели могут учиться магии, на 80-ом уровне шмели становятся плюшевыми и мы долго ебемся с найти и отправить владельцам. На 100-ом уровне шмели становятся гигачадами, начинают управлять обычными шмелями и получают инные усиления.
</div>  
 
    <li>Большой и прочный горил (кодовое имя - "жопный камень")  — <b>2800</b> руб</li>

<h2>*Жуки (задел на будущее)</h2>

<h2>*автоматонные истории (задел на будущее. *да они существуют, просто редкие, странные и вообще я печенька)</h2>



  </ul>
        










        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


