{% extends "users/base.html" %}
{% block title %} Ароды {% endblock title%}
{% block content %}
{% load group_tags %}

<style>

</style>            <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->


<!--  url 'main_donation_structure'    - основная папка сайта с королевствами Арода  -->


<div class="limiter">
    <div class="jumbotron"> <!-- Сюда темную тему  style="background-color: #7a7a7a"   -->

        
        <h1 class="display-5">      Главная Страница       </h1>
        {% if user.is_authenticated %}
        <!-- <p class="lead">
           Вы вошли в аккаунт!  
        </p>
        <br><br>-->
        {% else %}
       <!-- Вы не вошли в аккаунт! -->
        {% endif %}
        <p class="lead">


        <p class="lead">
            Добро пожаловать в очень страшное место! <!-- На этом сайте вы сможете узнать актуальную информацию о Королевствах Арода, посмотреть общую базу знаний и, конечно же, поддаться на соблазнительные рекламные предложения.
        --> </p>

<img src="https://images2.imgbox.com/f2/6d/pFsDEbq2_o.jpg"  alt="Описание" >

<hr class="my-4">

<h2 class="display-5">      Новости       </h2>

<div class="no-break">


<p> Ну че, пеерезд получается. Если нашли баги - пишите, буду тупить. (про темную тему уже даже тут записал) 
</p> <!--Новостей пока нет. -->

<p> Анонсированные изменения по донату (я нахрен переделывают пол системы), теперь патерн такой - за цены отвечаю я. Но скорость ответа будет "как всегда". Грим теперь только за расписание и всякую хуйню по серваку. Дальше, все старые донаты остаются в силе и работают (процентно) - т.е. если вы купили дракона на 10к (по старым ценам), а его цена выросла - вы остались при своем (крч ничего не отобрали, это к новым покупкам относиться, не ссыте. Чуть позже понятнее распишу все.)
</p>


<h3><b>Начался бум покупок шмелей !</b></h3>

<p>Массовая покупка шмелей (информация в канале Расы) - цена шмеля поднялась со 100 рублей до 1600 рублей!</p>

<h3>Новости обновлений и переносов</h3>

<p></p>

<p>Картинки и правильный перенос текста работают (надо только везде все правильно вставить)</p>

<h3>Пространнственные предметы и варианты сделок с богами полностью закончены и добавлены (ей!)</h3>

</div>


<hr class="my-4">



<h2 class="display-5">      Платные Услуги       </h2>
       
       <p>
        <a class="btn btn-primary btn-lg" href="{% url 'arod_main_role_tariff' %}" role="button">Тарифы и Правила (Ролки)</a>
         <a class="btn btn-danger btn-lg" href="" role="button">Лут боксы</a>
 
        </p>
<p>
        <a class="btn btn-warning btn-lg" href="{% url 'arod_main_item_list_donat_1' %}" role="button">Предметы</a>
        <a class="btn btn-warning btn-lg" href="{% url 'arod_main_race_donat' %}" role="button">Расы</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Навыки</a>
         
         <a class="btn btn-primary btn-lg" href="{% url 'arod_main_mix_donat_1' %}" role="button">Прочее</a>
    </p>
<p>
<a class="btn btn-primary btn-lg" href="{% url 'arod_main_other_services' %}" role="button">Прочие услуги</a>
<a class="btn btn-warning btn-lg" href="{% url 'arod_main_magic_list_donat_1' %}" role="button">Магия</a>
<a class="btn btn-warning btn-lg" href="{% url 'arod_main_team_list_donat_1' %}" role="button">Компаньоны и питомцы</a>
</p>

















<hr class="my-4">
<h2 class="display-5">      Публичная Вики Королевств Арода       </h2>

      <p>
        <a class="btn btn-danger btn-lg" href="" role="button">Расы</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Города</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Культуры</a>
      </p>
    <p>
        <a class="btn btn-danger btn-lg" href="" role="button">Магия 9 кругов</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Стихийная Магия</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Некромантия</a>
    </p>
       







<!--        Готовый пример для текста с картинками

<div class="flex-container">
  <img src="https://downloader.disk.yandex.ru/preview/059ad71f2cc00748b0b278a9dec8d65da071619e7cb8c92989335e68645f0bac/6911f128/GPNj22u67EGxS8F2gwXPxfhW1Y3toaQkdSKLTn3_OkNMmNU_LBE_UZLxEzKaUa7hX0ZBuUg-e0KeBevstdcNzA%3D%3D?uid=0&filename=icon.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v3&size=2048x2048" width="300" alt="Описание" class="flex-image">
  <div class="flex-text">
    <p> Тут много текст Тут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текст
  Тут много текст Тут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текст
   Тут много текст Тут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текст
    Тут много текст Тут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текстТут много текст</p>
  </div>
</div>

-->




    <!--<p>
        <a class="btn btn-primary btn-lg" href="{% url 'main_text' %}" role="button">Персонажи игроков</a>  
    </p>-->
   


<hr class="my-4">
<h2 class="display-5">      Прочая Информация       </h2>
   <p>
        <a class="btn btn-primary btn-lg" href="{% url 'arod_main_FAQ' %}" role="button">FAQ</a>
        <a class="btn btn-danger btn-lg" href="" role="button">Новичкам (страница не готова)</a>
        
    </p>















            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Выйти</button>
            </form>
            {% else %}
            <!--
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Регистрация</a> -->
            {% endif %}
            



        </p>




</div>
</div>

{% endblock content %}






