{% extends "users/base.html" %}
{% block title %} FAQ {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">


    
    <div class="jumbotron">




        <h1 class="display-5">        Общая Информация         </h1>
             

        
        <div class="midfont-size">
        

       
     

    Если вы хотите, разместить на этом сайте свою ролку (моими лапками очевидно), либо что-то иное, формально подходящее под тематику, есть несколько вариантов предложений.

     <br><br><p></p>

<h4>
Вариант 1.
</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Вы платите от 5000руб единоразово (договорная цена, зависит от объема инфы) и 500руб в месяц (6000руб в год) за поддержание работоспособности сайта и добавление на него информации, изображений и т.д. 
</p>

<h4>
Вариант 2.
</h4>

&nbsp;&nbsp;&nbsp;&nbsp;Мы договариваемся о проценте с вашей ролки (в среднем от 5% до 10%) и я добавляю ролку без предоплаты 
<div class="smallfont-size">
&nbsp;*(Чтобы перейти со второго варианта на первый нужно внести разницу в 5000руб, с первого на второй можно перейти только если итоговая сумма за месяц не меньше 500руб )
</div>


<br>

<div class="">

<img src="https://images2.imgbox.com/36/9f/3qbV9HkK_o.jpg"  alt="Описание" class="float-left-image">
</div>





<h4>
Вариант 3. (Бесплатный). </h4>




&nbsp;&nbsp;&nbsp;&nbsp;Вам нужно написать не менее 20 текстов (информационных по Ародам или предметов для продажи) и делать не менее двух за каждый месяц (можно заранее накатать 20-30 и на год забить). 

<div class="smallfont-size">
&nbsp;*Подходит текст или нет - определяю я (критерии такие: текст должен быть не слишком маленьким, полностью лорным, относительно связным и читаемым). Если условия перестают выполняться - вопрос будет решаться индивидуально под конкретный случай.
</div>




 


 </div>
        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>




</div>

{% endblock content %}






